.display {
	height: 120px;
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	border-top: 6px solid #2121de;
	border-bottom: 6px solid #2121de;
	margin: 0 auto;
	margin-top: 66px;
	margin-left: -300px;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay {
	/* position: absolute; */
	z-index: 999;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background: black;
	-moz-animation: eat 5s linear infinite;
	-webkit-animation: eat 5s linear infinite;
	animation: eat 5s linear infinite;
}

.pacman {
	position: absolute;
	z-index: 10;
	top: 50%;
	margin-top: -50px;
	width: 100px;
	height: 100px;
	background-color: yellow;
	border-radius: 100%;
}

.pacman-mask {
	width: 100px;
	height: 100px;
	margin-left: 1px;
	overflow: hidden;
	border-radius: 100%;
	position: relative;
	-moz-background-clip: border;
	-webkit-background-clip: border;
	background-clip: border-box;
}

.pacman-inner {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -50px;
	width: 100px;
	height: 100px;
}

.pacman-inner:after {
	display: block;
	position: absolute;
	top: 50px;
	left: -50px;
	content: " ";
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid black;
	-moz-animation: border 0.25s linear infinite;
	-webkit-animation: border 0.25s linear infinite;
	animation: border 0.25s linear infinite;
	-moz-transform-origin: 50% 0;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.pacman-real {
	-moz-animation: move 5s linear infinite;
	-webkit-animation: move 5s linear infinite;
	animation: move 5s linear infinite;
}

.pacman-mirror {
	-moz-animation: move2 5s linear infinite;
	-webkit-animation: move2 5s linear infinite;
	animation: move2 5s linear infinite;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.pacman-mirror .pacman-inner:after {
	-moz-animation-delay: 0.25s;
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

.food {
	background-color: #ffb897;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	margin-left: -5px;
}

.food-1 {
	left: 50px;
}

.food-2 {
	left: 100px;
}

.food-3 {
	left: 150px;
}

.food-4 {
	left: 200px;
}

.food-5 {
	left: 250px;
}

.food-6 {
	left: 300px;
}

.food-7 {
	left: 350px;
}

.food-8 {
	left: 400px;
}

.food-9 {
	left: 450px;
}

.food-10 {
	left: 500px;
}

.food-11 {
	left: 550px;
}

.food-12 {
	left: 600px;
}

@-moz-keyframes border {
	0% {
		margin-left: 0;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
	}

	50% {
		margin-left: 50px;
		border-left: 0 solid transparent;
		border-right: 0 solid transparent;
	}

	100% {
		margin-left: 0;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
	}
}

@-webkit-keyframes border {
	0% {
		margin-left: 0;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
	}

	50% {
		margin-left: 50px;
		border-left: 0 solid transparent;
		border-right: 0 solid transparent;
	}

	100% {
		margin-left: 0;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
	}
}

@keyframes border {
	0% {
		margin-left: 0;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
	}

	50% {
		margin-left: 50px;
		border-left: 0 solid transparent;
		border-right: 0 solid transparent;
	}

	100% {
		margin-left: 0;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
	}
}

@-moz-keyframes move {
	0% {
		left: -100px;
	}

	50% {
		left: 600px;
	}

	100% {
		left: 600px;
	}
}

@-webkit-keyframes move {
	0% {
		left: -100px;
	}

	50% {
		left: 600px;
	}

	100% {
		left: 600px;
	}
}

@keyframes move {
	0% {
		left: -100px;
	}

	50% {
		left: 600px;
	}

	100% {
		left: 600px;
	}
}

@-moz-keyframes move2 {
	0% {
		left: -100px;
	}

	50% {
		left: -100px;
	}

	100% {
		left: 600px;
	}
}

@-webkit-keyframes move2 {
	0% {
		left: -100px;
	}

	50% {
		left: -100px;
	}

	100% {
		left: 600px;
	}
}

@keyframes move2 {
	0% {
		left: -100px;
	}

	50% {
		left: -100px;
	}

	100% {
		left: 600px;
	}
}

@-moz-keyframes eat {
	0% {
		width: 0;
		margin-left: 0;
	}

	50% {
		width: 600px;
		margin-left: 0;
	}

	100% {
		width: 0;
		margin-left: 600px;
	}
}

@-webkit-keyframes eat {
	0% {
		width: 0;
		margin-left: 0;
	}

	50% {
		width: 600px;
		margin-left: 0;
	}

	100% {
		width: 0;
		margin-left: 600px;
	}
}

@keyframes eat {
	0% {
		width: 0;
		margin-left: 0;
	}

	50% {
		width: 600px;
		margin-left: 0;
	}

	100% {
		width: 0;
		margin-left: 600px;
	}
}